.primary {
  color: #292929;
  leading-trim: both;
  text-edge: cap;
  font-size: 17px;
  font-weight: 700;
  line-height: 23.63px;
}

.secondary {
  color: #292929;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.0168em;
}

.tertiary {
  color: #292929;
  leading-trim: both;
  text-edge: cap;
  font-size: 12px;
  font-weight: 420;
  line-height: 150%; /* 18px */
}

.primary2a {
  color: #292929;
  font-size: 27px;
  font-weight: 700;
  letter-spacing: -0.135px;
}

.primary2b {
  color: #292929;
  font-size: 27px;
  font-weight: 400;
  letter-spacing: -0.135px;
}


.secondary2 {
  color: #727272;
  font-size: 24px;
  font-weight: 700;
}
