.section {
  display: flex;
  flex-direction: column;
  gap: 18px;

  @include desktopAndAbove() {
    display: flex;
    width: 855px;
    flex-direction: row;
    padding: 5px;
    gap: 30px;
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
}
